


.vk-top-bg {
  background-color: #004aad;
}

.vk-top-color {
  color: #004aad;
}

.lh-sm {
  line-height: 0.75rem;
}

.lh-m {
  line-height: 1.2rem;
}

.service {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}

