#progress-text {
	min-height: 1.5rem;
}
#progress-text:empty {
	background-color: white !important;
}
.group-name {
	max-width: 13rem;
}
.kupit {
	background-color: #004aad;
	border: none;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	display: block;
	font: inherit;
	margin: 1em 1em 0;
	padding: 5px 10px;
	width: -webkit-fill-available;
}
.lh-m {
	line-height: 1.2rem;
}
.lh-md {
	line-height: 1rem;
}
.lh-sm {
	line-height: 0.75rem;
}
.popular {
	transform: scale(1.1);
}
.popular .kupit {
	background-color: #ee3ec9;
	transform: scale(1.1);
}
.popular .price {
	font-weight: 600;
	margin-top: 0.3em;
	transform: scale(1.1);
}
.popular .tarif-bottom {
	margin-bottom: 0;
}
.popular .tarif-name {
	margin: 2em 0 0;
	transform: scale(1.1);
}
.popular-label {
	background-color: #004aad;
	border-radius: 10px;
	color: white;
	padding: 3px 15px;
	position: absolute;
	top: -10px;
}
.price {
	color: #004aad;
	font-size: 28px;
	margin-bottom: 0.5em;
}
.service {
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
}
.table td, .table th, .table thead th {
	vertical-align: middle;
}
.tar_text {
	max-width: 70%;
}
.tarif {
	background-color: #edf3fc;
	border-radius: 10px;
	margin: 3em 1em;
	min-height: 425px;
	position: relative;
	width: 180px;
}
.tarif li {
	margin-bottom: 0.5em;
	padding: 0;
}
.tarif.post {
	background-color: #939daf;
}
.tarif ul {
	padding-left: 1em;
}
.tarif-bottom {
	bottom: 0;
	margin-bottom: 0.5em;
	position: absolute;
	width: 100%;
}
.tarif-name {
	color: #004aad;
	font-size: 18px;
	font-weight: bold;
	line-height: 0.7;
	margin: 1em 0 0;
	min-height: 25px;
}
.tarif-text {
	font-size: 12px;
	padding: 1em 0.7em;
	text-align: left;
}
.vk-top-bg {
	background-color: #004aad;
}
.vk-top-color {
	color: #004aad;
}
img.ava-group {
	max-height: 40px;
	max-width: 40px;
}
td.ava-group {
	height: 43px;
	padding: 0;
	position: relative;
}

input.check_cut {
	display: none;
}
.hider_dublikat, label.check_cut, label.check_trash, label.check_flag {
	cursor: pointer;
}
input:checked + label.check_cut  {
	color: #77ffba;
}
.block-text_help_words, .block-text {
	display: none;
}

.aside .btn {
    min-width: 2rem;
}

.modal-body h6 {
	margin-bottom: 0;
	margin-top: 0.5rem;
}

.border-3 {
		border-width:3px !important;
}

.pagination .page-link {
	color: #004aad;
}
.pagination .page-item.active .page-link {
	background-color: #004aad;
	border-color: #004aad;
}

input:checked + label.check_flag  {
	color: gold;
}
input:checked + label.check_trash  {
	color: red;
}

.cursor-pointer {
	cursor: pointer;
}

.pagination {
	flex-wrap: wrap;
}

.vk-name {
	color: #2a5885;
}

.photos img{
	min-width: 30%;
	max-width: 200px;
}

#filters ~ .filter-form {
	visibility: hidden;
	height: 0;
	opacity: 0;
	transition: all .6s;
}

#filters:checked + label {
	background-color: #6c757d;
	color: white;
}

#filters:checked ~ .filter-form {
	height: auto;
	visibility: visible;
	opacity: 1;
}

.popover {
  will-change: unset !important;
	box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 50%);
}

.no-outline:focus {
	box-shadow: none;
}

table.dataTable thead th, table.dataTable thead td {
	padding-left: 0.3rem !important;
}

#controls-checkbox .icon {
	transition: all 0.3s ease-in-out;
}
.activnost:hover ~ #controls-checkbox .icon {
	transform: scale(1.5);
}

.filter-panel {
	color: #68ed86;
	font-weight: bold;
}

.page-link:focus, .ajax-post:focus {
	box-shadow: none;
}
.like :empty, .comment :empty, .repost :empty, .view :empty {
	display: none;
}

